<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load static %}
    <link rel="stylesheet" href="{% static 'signin.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <title>login Page</title>
</head>

<body>
    <div class="container" id="container">
        <header>
            <div class="logo"><img src="{% static 'logo.png' %}" alt="logo" height="90px" width="100px" align="left"></div>
            <div class="nepalflag"><img src="{% static 'nepal.gif' %}" alt="" srcset="" height="80px" width="100px" align="right"></div>
            <div class="headerContent">
                Government of Nepal <br> Ministry of Infrastructure and Transport <br>
                <b style="color: #3a0914;">Department of Transport Management</b><br> Minbhawan, Kathmandu
                <h1>E-CHALLAN</h1>
            </div>


        </header>
        <div class="slides">
            <img class="slideImages" src="{% static '1.jpg' %}" alt="">
            <img class="slideImages" src="{% static '2.jpg' %}" alt="">
            <img class="slideImages" src="{% static '3.jpg' %}" alt="">
        </div>
        <div class="overlay-container">
            <form method="POST" action="{% url 'signin_traffic'%}">
                {% csrf_token %}
                <h1>Log in</h1>
                <span></span>
                <br>
                <input type="text" placeholder="name" name="username" required />
                <br>
                <input type="password" placeholder="Password" id="password" name="password" />
                <i class="bi bi-eye-slash" id="togglePassword"></i>
                <br>
                <input type="submit" value="Submit" id="but">
                <p><a href="#">Admin login</a></p>
                <p>Create an account?
                    <a href="/signup">Sign Up</a>
                </p>
            </form>
        </div>
    </div>
    <script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function() {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);

            // toggle the icon
            this.classList.toggle("bi-eye");
        });
    </script>

    <script src="{% static 'index.js' %}"></script>
</body>

</html>