<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'st.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function() {
                if (this.checked) {
                    checkbox.each(function() {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function() {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function() {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });
    </script>

</head>

<body>
    <div class="containers">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-home" aria-hidden="true"><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></i></span>
                        <span class="title"><h2>E - Challan</h2></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-book" aria-hidden="true"><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-file-text" aria-hidden="true"><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></i></span>
                        <span class="title">Traffic Rules</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-user" aria-hidden="true"><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></i></span>
                        <span class="title">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></i></span>
                        <span class="title">Sign-out</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="topbar">
                <div class="toggle" onclick="toggleMenu();"></div>
                <div class="search">
                    <label>
                        <input name="search" type="text" placeholder="Search here">
                    </label>
                    <button><i class="fa fa-search" aria-hidden="true"><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></i></button>
                </div>
                <div class="user">
                    <img alt="Nepal" src="{% static 'logo.svg' %}">
                </div>
            </div>


            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Add <b>Challan</b></h2>
                            </div>
                            <div class="col-sm-6">
                                <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add Challan</span></a>
                                <a href="{% url 'pdf'%}" class="btn btn-danger">pdf</a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                                </th>
                                <th>Name</th>
                                <th>Place</th>
                                <th>License_Num</th>
                                <th>Challan_Num</th>
                                <th>Traffic Rules</th>
                                <th>Fine</th>
                                <th>Vehicle_type</th>
                                <th>Created_by</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in emp %}
                            <tr>
                                <td>
                                    <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                                </td>
                                <td>{{i.name}}</td>
                                <td>{{i.place}}</td>
                                <td>{{i.license}}</td>
                                <td>{{i.challan_num}}</td>
                                <td>{{i.traffic}}</td>
                                <td>{{i.fine}}</td>
                                <td>{{i.vehicle_type}}</td>
                                <td>{{i.created_by}}</td>
                                <td>
                                    <a href="#editEmployeeModal-{{forloop.counter}}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- add Modal HTML -->
        <div id="addEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{% url 'add_user' %}" method="POST">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h4 class="modal-title">Add Challan_reciever</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Name</label>
                                <input name="name" type="text" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Place</label>
                                <input name="place" type="text" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>License_Num</label>
                                <input name="license" type="number" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Challan_Num</label>
                                <input name="challan_num" type="number" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label>Traffic Rules</label>
                                <input name="traffic" type="text" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label>Fine</label>
                                <input name="fine" type="number" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label>Vehicle_type</label>
                                <input name="vehicle_type" type="text" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label>Created_by</label>
                                <input name="created_by" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-success" value="Add">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Edit Modal HTML -->
        {% for i in emp %}
        <div id="editEmployeeModal-{{forloop.counter}}" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="/update_user/{{i.id}}" method="POST">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h4 class="modal-title">Add Challan_reciever</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Name</label>
                                <input name="name" value="{{i.name}}" type="text" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Place</label>
                                <input name="place" value="{{i.place}}" type="text" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>License_Num</label>
                                <input name="license" value="{{i.license}}" type="number" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Challan_Num</label>
                                <input name="challan_num" value="{{i.challan_num}}" type="number" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label>Traffic Rules</label>
                                <input name="traffic" value="{{i.traffic}}" type="number" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label>Fine</label>
                                <input name="fine" value="{{i.fine}}" type="number" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label>Vehicle_type</label>
                                <input name="vehicle_type" value="{{i.vehicle_type}}" type="text" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label>Created_by</label>
                                <input name="created_by" value="{{i.created_by}}" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-info" value="Update">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    </div>

    <script>
        function toggleMenu() {
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation');
            let main = document.querySelector('.main');
            toggle.classList.toggle('active');
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }
    </script>
</body>

</html>